@{
    ViewData["Title"] = "Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Cat&#225;logos / Municipios</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listado de Municipios</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Municipios
                <ul class="pull-right panel-settings panel-button-tab-right">
                    <li class="dropdown">
                        <a onclick="ValidarCreacion();" class="pull-right">
                            <em class="fa fa-plus"></em>
                        </a>
                    </li>
                </ul>
                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Regi&#243;n</label>
                        <select asp-items="ViewBag.ListaRegion" class="form-control" id="ddlRegion"></select>
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        <select asp-items="ViewBag.ListaDepartamento" class="form-control" id="ddlDepartamento"></select>
                    </div>

                    @if (string.IsNullOrEmpty(ViewBag.Error) == false)
                    {
                        <div asp-validation-summary="ModelOnly" class="alert bg-primary" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> @ViewBag.Error </div>
                    }

                    <div id="dData"></div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var confirmacion = '@Html.Raw(ViewBag.Confirmacion)';
            if (confirmacion != null && confirmacion != "")
                Confirmar(confirmacion);
            $('#DataTable').DataTable();
            $('#ddlRegion').change(function () {
                if ($('#ddlRegion').val() != "Select") {
                    $('#ddlDepartamento').empty();
                    var idRegion = $('#ddlRegion').val();
                    var url = '@Url.Action("GetAllValueList","Departamentos")' + "?idRegion=" + idRegion + "&valorVacio=false";
                    var jqxhr = $.get(url, function (data) {
                        $.map(data, function (item) {
                            $("#ddlDepartamento").append($("<option />").val(item.value).text(item.text));
                        });
                        $('#ddlDepartamento').change();
                    })
                        .fail(function (error) {
                            MostrarError("Error al cargar los departamentos.");
                        });
                }
            });
            $('#ddlDepartamento').change(function () {
                 if ($('#ddlDepartamento').val() != "Select") {
                     var idRegion = $('#ddlRegion').val();
                     var idDepartamento = $('#ddlDepartamento').val();
                     var id = idRegion + '_' + idDepartamento;
                     LoadData(id, '@Url.Action("Details")' + '/');
                }
            });
            $('#ddlDepartamento').change();
        });
        function ValidarCreacion() {
            var idRegion = $('#ddlRegion').val();
            var idDepartamento = $('#ddlDepartamento').val();
            if (idRegion == null)
                MostrarError('Debe crear una región primero!');
            if (idDepartamento == null)
                MostrarError('Debe crear un departamento primero!');
            else {
                var idRegion = $('#ddlRegion').val();
                var idDepartamento = $('#ddlDepartamento').val();
                window.location.href = '@Url.Action("Create", "Municipios")' + '?idRegion=' + idRegion + '&idDepartamento=' + idDepartamento;
            }
        }
    </script>
}